.volume-chart {
    background: url(../images/print/1.png) no-repeat 0 0;
    height: 600px;
}

.gzip-chart {
    background: url(../images/print/2.png) no-repeat 0 0;
    height: 412px;
}

.sprites-chart {
    background: url(../images/print/3.png) no-repeat 0 0;
    height: 409px;
}

.image-min-chart {
    background: url(../images/print/4.png) no-repeat 0 0;
    height: 408px;
}

.dom-chart1 {
    background: url(../images/print/5.png) no-repeat 0 0;
    height: 194px;
}

.dom-chart2 {
    background: url(../images/print/6.png) no-repeat 0 0;
    height: 193px;
}

.dom-chart3 {
    background: url(../images/print/7.png) no-repeat 0 0;
    height: 191px;
}

.indexedDB-chart {
    background: url(../images/print/8.png) no-repeat 0 0;
    height: 610px;
}

.engagement-chart-desktop {
    background: url(../images/print/9.png) no-repeat 0 0;
    height: 315px;
}

.engagement-chart-mobile {
    background: url(../images/print/10.png) no-repeat 0 0;
    height: 311px;
}

.presentation-media{
    display: none;
}

.media-link{
    display: block;
}

.presentation-video1 {
    background: url(../images/print/11.png) no-repeat 0 0;
    height: 486px;
}

.presentation-video2 {
    background: url(../images/print/12.png) no-repeat 0 0;
    height: 480px;
}

.presentation-video3 {
    background: url(../images/print/13.png) no-repeat 0 0;
    height: 479px;
}